body{
font-family: sans-serif , 'Roboto';
}

::-webkit-scrollbar-thumb {
    background: #7c017c;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.header > .container {
    position: relative;
    width: 1170px;
    margin: 0 auto;
    color: #444;
    font-size: 14px;
    font-weight: 300;
    font-family: sans-serif, Arial;
    overflow: hidden;
    padding: 0;
}

.header {
    line-height: 80px;
    width: 100%;
    transition: line-height 0.2s linear, box-shadow 0.2s linear;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: rgba(245, 245, 245, 0.97);
    padding:0;
    margin-bottom: 50px;
}

.holder{
    height: 80px;
}

span.two {
    
    border-radius: 17px;
    width: 10px;
    padding: 10px;
    border: 2px solid #ff9900;
    margin: 0px;
    font-size:45px;
    font-family: sans-serif, Helvetica;
    position: relative;
    right: 170%;
}
.header u {
    font-size:45px;
    font-family: sans-serif, Helvetica;
    position: relative;
    right: 170%;
}

ul.nav li a {
    padding: 21px;
    color: initial;
    text-decoration: initial;
}

ul.nav li a {
    transition: color 0.2s linear;
    font-size: 18px;
}

.one {
  Font-family: sans-serif, Helvetica; text-align: center;
  }
  
  .elegant-aero {
    margin-left:500px;
    margin-right:auto;

    max-width: 500px;
    background: #D2E9FF;
    padding: 20px 20px 20px 20px;
    font: 12px sans-serif, Arial, Helvetica;
    color: #666;
}
.elegant-aero h1 {
    font: 46px sans-serif, "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 20px;
    display: block;
    background: #C0E1FF;
    border-bottom: 1px solid #B8DDFF;
    margin: -20px -20px 15px;
}
.elegant-aero h1>span {
    display: block;
    font-size: 15px;
}

.elegant-aero label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.elegant-aero label {
    display: block;
    margin: 0px 0px 5px;
}
.elegant-aero label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 15px;
    margin-top: 10px;
    font-weight: bold;
}
.elegant-aero input[type="text"], .elegant-aero input[type="email"], .elegant-aero textarea, .elegant-aero select {
    color: #888;
    width: 70%;
    padding: 0px 0px 0px 5px;
    border: 1px solid #C5E2FF;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px sans-serif, Arial, Helvetica, sans-serif;
    height: 30px;
    line-height:15px;
    margin: 2px 6px 16px 0px;
}
.elegant-aero textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
.elegant-aero select {
    background: #fbfbfb url('down-arrow.png') no-repeat right;
    background: #fbfbfb url('down-arrow.png') no-repeat right;
   appearance:none;
    -webkit-appearance:none;
   -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
}
.elegant-aero .button{
    padding: 10px 30px 10px 30px;
    background: #66C1E4;
    border: none;
    color: #FFF;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 1px 1px 1px #5079A3;
   
}
.elegant-aero .button:hover{
    background: #3EB1DD;
}

p.one {
  
    line-height: 167%;
    position: absolute;
    width: 300px;
    padding: 20px;
    font-family:sans-serif;
}

.contact p.one{
    right: 630px;
}

span.one {
position:absolute;
left:20px;
font-size:32px;font-family:sans-serif;
}

div {
padding: 10px;
}

/* contact styling */

.elegant-aero {
    margin-left:250px;
    margin-right:auto;

    max-width: 500px;
    background: #D2E9FF;
    padding: 20px 20px 20px 20px;
    font: 12px sans-serif, Arial, Helvetica, sans-serif;
    color: #666;
}
.elegant-aero h1 {
    font: 46px sans-serif, "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 20px;
    display: block;
    background: #C0E1FF;
    border-bottom: 1px solid #B8DDFF;
    margin: -20px -20px 20px;
    text-align: center;
}

div {
   padding: 20px;
}

.one {
   line-height: 2em;
 
}

ul.nav {
    float: right;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  ul.nav li {
    /*float: initial;
    display: inline-block;*/
    list-style: none;
    position: relative;
    float: left;
  }
.userheader , .userheader li{
    display:inline-block;
}

.red-action{
  font-size: 1.5em;
  color:red;
}