

body {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    margin: 0;
    padding: 10px;
    display: flex;
    background: #f2f2f2;
    color: rgba(0,0,0,.87);
    font-family: 'Roboto', sans-serif;
}
.accordion {
    margin: auto;
    width: 400px;
    position: relative;
    top: 120px;
    right: 70px;
}
.accordion input {
    display: none;
}
.box {
    position: relative;
    background: white;
    height: 94px;
    transition: all .15s ease-in-out;
}
.box::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
header.box {
    background: #00BCD4;
    z-index: 100;
    cursor: initial;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px -2px rgba(0,0,0,.12),0 2px 4px -4px rgba(0,0,0,.24);
}
header .box-title {
    margin: 0;
    font-weight: normal;
    font-size: 35pt;
    color: white;
    cursor: initial;
        position: relative;
        left: 38px;
}
.box-title {
    width: calc(100% - 40px);
    height: 94px;
    line-height: 64px;
    padding: 0 20px;
    display: inline-block;
    cursor: pointer;
}
.box-content {
    width: calc(100% - 40px);
    padding: 30px 20px;
    font-size: 11pt;
    color: rgba(0,0,0,.54);
    display: none;
}
.box-close {
    position: absolute;
    height: 94px;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}
input:checked + .box {
    height: auto;
    margin: 16px 0;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}
input:checked + .box .box-title {
    border-bottom: 1px solid rgba(0,0,0,.18);
}
input:checked + .box .box-content,
input:checked + .box .box-close {
    display: inline-block;
}

.two {
position: relative;
top: 15px;
right: -375px;
}
    .three {
position: relative;
top: 15px;
right: -385px;
}
    .four {
position: relative;
top: 15px;
right: -395px;
}