#dashboard {
  max-width: 330px;
  width: 330px !important; }

body {
  font-family: sans-serif;
  background-color: white !important; }

.page-container {
  float: left;
  width: 50%;
  width: calc( 100% - 330px );
  margin-top: 180px;
  padding-left: 25px; }

#notes .page-container {
  margin-top: 11%; }

@media screen and (max-width: 1300px) {
  .page-container, #notes .page-container {
    margin-top: 15%; } }
#video-recipes .page-container, #recipes .page-container, #folderfav .page-container, #tutorials .page-container {
  width: calc( 100% - 350px );
  padding-left: 100px; }
@media screen and (max-width: 1350px) {
  #video-recipes .page-container, #recipes .page-container, #folderfav .page-container, #tutorials .page-container {
    padding-left: 25px; } }
@media screen and (max-width: 1120px) {
  #video-recipes .page-container, #recipes .page-container, #folderfav .page-container, #tutorials .page-container {
    padding-left: 25px; } }
#video-recipes td.recipe-thumb, #recipes td.recipe-thumb, #folderfav td.recipe-thumb, #tutorials td.recipe-thumb {
  width: 29%;
  height: 180px;
  overflow: hidden; }
  #video-recipes td.recipe-thumb iframe, #video-recipes td.recipe-thumb img, #recipes td.recipe-thumb iframe, #recipes td.recipe-thumb img, #folderfav td.recipe-thumb iframe, #folderfav td.recipe-thumb img, #tutorials td.recipe-thumb iframe, #tutorials td.recipe-thumb img {
    max-width: 300px;
    max-height: 180px; }
#video-recipes td.button, #recipes td.button, #folderfav td.button, #tutorials td.button {
  position: relative; }
  #video-recipes td.button .favorite-written-buttons, #recipes td.button .favorite-written-buttons, #folderfav td.button .favorite-written-buttons, #tutorials td.button .favorite-written-buttons {
    bottom: 20px;
    right: 20px;
    position: absolute; }
@media screen and (max-width: 1000px) {
  #video-recipes .page-container, #recipes .page-container, #folderfav .page-container, #tutorials .page-container {
    margin-top: 15%; }
  #video-recipes td.recipe-thumb iframe, #video-recipes td.recipe-thumb img, #recipes td.recipe-thumb iframe, #recipes td.recipe-thumb img, #folderfav td.recipe-thumb iframe, #folderfav td.recipe-thumb img, #tutorials td.recipe-thumb iframe, #tutorials td.recipe-thumb img {
    max-width: 200px;
    height: 180px !important; } }

#meal-planner {
  /*height: calc(100% - 20px);
  width: calc(100% - 20px);
  margin: 0;
  padding: 10px;
  display: flex;*/
  background: #f2f2f2;
  color: rgba(0, 0, 0, 0.87);
  font-family: sans-serif, 'Roboto'; }
  #meal-planner .accordion {
    margin-bottom: 15%;
    width: 400px;
    /*position: relative;
    top: 120px;
    right: 70px;*/
    /*float:right;*/ }
    #meal-planner .accordion .box-content h1 {
      font-size: 1.17em;
      font-weight: bold; }
  #meal-planner .accordion input {
    display: none; }
  #meal-planner .box {
    position: relative;
    background: white;
    height: 94px;
    transition: all .15s ease-in-out; }
  #meal-planner .box::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24); }
  #meal-planner header.box {
    background: #00BCD4;
    z-index: 100;
    cursor: initial;
    box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px -2px rgba(0, 0, 0, 0.12), 0 2px 4px -4px rgba(0, 0, 0, 0.24); }
  #meal-planner header .box-title {
    margin: 0;
    font-weight: normal;
    font-size: 35pt;
    color: white;
    cursor: initial;
    position: relative;
    left: 38px; }
  #meal-planner .box-title {
    width: 100%;
    height: 94px;
    line-height: 64px;
    padding: 0 20px;
    display: inline-block;
    cursor: pointer; }
  #meal-planner .box-content {
    width: calc(100% - 40px);
    padding: 30px 20px;
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.54);
    display: none; }
  #meal-planner .box-close {
    position: absolute;
    height: 94px;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none; }
  #meal-planner input:checked + .box {
    height: auto;
    margin: 16px 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32); }
  #meal-planner input:checked + .box .box-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.18); }
  #meal-planner input:checked + .box .box-content,
  #meal-planner input:checked + .box .box-close {
    display: inline-block; }
  #meal-planner .two {
    /*position: relative;
    top: 15px;
    right: -375px;*/
    text-align: right;
    margin-bottom: 10px;
    border-radius: 3px;
    /*background-color: #f2f2f2;*/
    font-size: 18px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s; }
  #meal-planner .meal-planner-container {
    /*float: right;*/
    width: 400px;
    margin-left: auto;
    margin-right: auto; }
  #meal-planner .three {
    position: relative;
    top: 15px;
    right: -385px; }
  #meal-planner .four {
    position: relative;
    top: 15px;
    right: -395px; }

body#dashboard span.two, body #dashboard span.two {
  border-radius: 17px;
  width: 10px;
  padding: 10px;
  border: 2px solid #ff9900;
  margin: 0;
  font-size: 50px;
  font-family: sans-serif,Helvetica; }
body#dashboard u, body #dashboard u {
  font-size: 50px;
  font-family: sans-serif,Helvetica; }
body#dashboard span, body #dashboard span {
  font-size: 20px; }
body#dashboard .button, body #dashboard .button {
  background-color: #ffffe6;
  height: 110px;
  width: 200px;
  border: none;
  color: black;
  padding: 40px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s; }
body#dashboard .button1, body #dashboard .button1 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

#notes {
  background-color: #EEE; }
  #notes section {
    width: 200px;
    /*margin:30px auto 0 auto;*/
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif, Arial;
    color: #333;
    background-color: #FFF;
    padding: 5px 15px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px #999; }
  #notes section h3 {
    text-align: center;
    font-weight: 100;
    color: #333;
    font-family: sans-serif, arial; }
  #notes #list ol {
    list-style-type: none;
    margin-left: 0;
    padding: 0; }
  #notes ul#list {
    list-style: none;
    padding-left: 0;
    text-decoration: none; }
  #notes #list li {
    line-height: 25px;
    position: relative;
    left: 0px;
    border-top: 1px solid #CCC;
    transition: background-color 0.5s;
    padding-left: 15px;
    text-decoration: none; }
  #notes ul#list li a {
    text-decoration: none; }
  #notes #list li:last-child {
    border-bottom: 1px solid #CCC; }
  #notes #list li.checked {
    text-decoration: line-through;
    background-color: #91D1FF; }
  #notes #list li input:checked li {
    background-color: red; }
  #notes #list li:hover {
    background-color: #91D1FF;
    cursor: pointer; }
  #notes #btnAddItem {
    margin: 0 auto;
    padding: o auto;
    text-align: center;
    width: 100%;
    height: 35px;
    color: #1F86ED; }
  #notes #NewItemName {
    height: 300px;
    width: 300px;
    background-color: #333;
    display: none; }

#video-recipes {
  /*.two {
  position: relative;
  top: -20px;
  left: 320px;
  }*/
  /*div {
  padding: 20px;
  }*/ }
  #video-recipes h2.one {
    Font-family: sans-serif, Helvetica;
    text-align: left; }
  #video-recipes .button {
    height: 180px;
    width: 100%;
    background-color: #f2f2f2;
    font-family: sans-serif;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s; }
  #video-recipes .div1 {
    padding: 15px; }
  #video-recipes .comp {
    position: relative;
    /*left: 410px;*/ }

#recipes, #folderfav {
  /*.two {
  float: right;
  }*/
  /*  div {
  padding: 20px;
  }*/
  /*.btn{
        align-items: flex-start;
      text-align: center;
      cursor: default;
      color: buttontext;
      border-image-source: initial;
      border-image-slice: initial;
      border-image-width: initial;
      border-image-outset: initial;
      border-image-repeat: initial;
      background-color: buttonface;
      box-sizing: border-box;
      padding: 1px 6px;
      border-width: 2px;
      border-style: outset;
      border-color: buttonface;
  }*/ }
  #recipes h2.one, #folderfav h2.one {
    Font-family: sans-serif, Helvetica;
    text-align: left; }
  #recipes .button, #folderfav .button {
    height: 180px;
    width: 100%;
    background-color: #f2f2f2;
    font-family: sans-serif;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s; }
  #recipes .comp, #folderfav .comp {
    position: relative;
    /*left: 410px;*/ }
  #recipes .div1, #folderfav .div1 {
    padding: 5px; }
  #recipes .btn.two, #folderfav .btn.two {
    top: 20px;
    text-decoration: none; }

#meal {
  /*.two {
      position: relative;
      top: -8px;
      left: 380px;
  }*/ }
  #meal .page-container iframe, #meal .page-container video, #meal .page-container img {
    width: 600px;
    height: 400px; }
  #meal .three {
    position: relative;
    top: -30px;
    left: 450px; }
  #meal .four {
    position: relative;
    top: -52px;
    left: 527px; }
  #meal .img {
    float: right; }
  #meal .left {
    float: left;
    width: 25%; }
  #meal .right {
    float: left;
    width: 50%; }
  #meal .right .btn, #meal .right form {
    vertical-align: top; }
  @media screen and (max-width: 1300px) {
    #meal .page-container {
      margin-top: 13%; }
      #meal .page-container .left {
        width: 40%; }
        #meal .page-container .left ul {
          padding-left: 5px; }
      #meal .page-container .right {
        width: 60%; }
      #meal .page-container iframe, #meal .page-container video, #meal .page-container img {
        width: 400px;
        height: 266px; } }
  @media screen and (max-width: 1000px) {
    #meal {
      /*#dashboard{
        width: 35% !important;
      }*/ }
      #meal .page-container {
        margin-top: 15%;
          /*.left{
            //width: 40%;

            ul{
              padding-left:5px;
            }

          }*/
        /*.right{
          width:60%;
        }*/ }
        #meal .page-container iframe, #meal .page-container video, #meal .page-container img {
          width: 300px;
          height: 200px; } }

/**
*   Editor Styling
*/
#recipe-editor, #note-editor {
  background: -webkit-linear-gradient(top, #88c7c9 58%, #cae8eb 100%);
  height: 94%; }
  #recipe-editor #dashboard, #note-editor #dashboard {
    background-color: white;
    min-height: 1250px; }
  #recipe-editor .paper, #note-editor .paper {
    font: normal 12px/1.5 sans-serif, "Lucida Grande", arial;
    width: 50%;
    height: 80%;
    margin: 0 auto;
    padding: 6px 5px 4px 42px;
    position: relative;
    line-height: 20px;
    -webkit-background-size: 100% 20px;
    -moz-background-size: 100% 20px;
    -ms-background-size: 100% 20px;
    -o-background-size: 100% 20px;
    background-size: 100% 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 816px;
    height: 1056px; }
  #recipe-editor .head, #note-editor .head {
    min-height: 124px;
    margin-left: -42px;
    margin-right: -5px;
    margin-top: -4px; }
  #recipe-editor textarea, #note-editor textarea {
    display: block;
    width: 94%;
    margin: 0 auto;
    padding: 3.8% 3%;
    border: none;
    outline: none;
    height: 94%;
    line-height: 20px; }
  #recipe-editor .three, #note-editor .three {
    position: relative;
    top: -30px;
    left: 450px; }
  #recipe-editor .four, #note-editor .four {
    position: relative;
    top: -52px;
    left: 527px; }
  #recipe-editor .five, #note-editor .five {
    position: relative;
    top: -75px;
    left: 220px; }

#recipe-editor {
  /*.two {
    position: relative;
    top: -8px;
    left: 380px;
  }*/ }
  #recipe-editor .paper {
    height: auto !important; }
  #recipe-editor .nicEdit-main {
    background-color: white !important; }

#note-editor {
  /*.two {
    float:right;
  }*/ }
  #note-editor .head {
    background-color: #FFF;
    text-align: right; }
  #note-editor .nicEdit-main {
    border: none; }
  #note-editor .paper {
    font: normal 12px/1.5 "Lucida Grande", arial, sans-serif;
    width: 50%;
    height: 80%;
    margin: 0 auto;
    padding: 6px 5px 4px 42px;
    position: relative;
    color: #444;
    line-height: 20px;
    border: 1px solid #d2d2d2;
    background: #fff;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    -webkit-background-size: 100% 20px;
    -moz-background-size: 100% 20px;
    -ms-background-size: 100% 20px;
    -o-background-size: 100% 20px;
    background-size: 100% 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    width: 865px;
    height: 1056px; }
  #note-editor .paper::before {
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    left: 30px;
    bottom: 0;
    border: 2px solid;
    border-color: transparent #efe4e4;
    -webkit-box-sizing: initial; }
  #note-editor textarea {
    display: block;
    width: 95.9%;
    margin: 0 auto;
    padding-top: 20px;
    border: none;
    outline: none;
    height: 100%;
    background: transparent;
    line-height: 20px; }

#meal-editor {
  display: block; }
  #meal-editor .page-container {
    padding-right: 25px; }
  #meal-editor input {
    margin: 15px; }
  #meal-editor .date_input {
    margin: 0; }
  #meal-editor .container {
    width: 100%;
    margin: 0; }
  #meal-editor .meal-table-container {
    width: 100%; }
  #meal-editor .meal-edit-table {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto; }
  #meal-editor .meal-edit-table tbody {
    margin-top: 15px; }
  #meal-editor .meal-edit-table tr {
    width: 100%; }
  #meal-editor tr:nth-child(even) {
    background-color: white; }
  #meal-editor th, #meal-editor td {
    border-bottom: 1px solid #ddd; }
  #meal-editor th {
    background-color: #00BCD4;
    color: white;
    padding: 15px; }
  #meal-editor #dashboard th, #meal-editor #dashboard td {
    border-bottom: none !important; }
  #meal-editor .meal-edit-table tr td {
    padding: 15px;
    min-width: 50px; }
  #meal-editor .seperator {
    margin: 15px; }
  #meal-editor .submit-btn {
    padding: 15px; }
  #meal-editor .delete-btn {
    color: red;
    text-decoration: none; }
  #meal-editor .minimal-cell th, #meal-editor .minimal-cell td {
    border: none; }

.folderfav {
  display: inline-block;
  float: right;
  margin-right: 5px; }

.folderfav button {
  min-height: 30px; }

.fav {
  background-color: orange; }

.unfav {
  background-color: red;
  color: white; }

.red-action {
  font-size: 1.5em;
  color: red; }

/*# sourceMappingURL=user.css.map */
